<script src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=UjMpsi"></script>
<script>
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  
  var identity = "unknown@xbyexample.com"
  if (urlParams.has('email')) {
    identity = urlParams.get('email')
  } else if (urlParams.has('ref')) {
    identity = "user@" + urlParams.get('ref')
  }
  
  var _learnq = _learnq || [];  
  _learnq.push(['track', 'Viewed Page',
    {
      identity: identity,
      url: window.location.href
    }
  ]);
</script>
